@font-face {
   font-family: 'ok';	
   src: url('font/BREAK IT.ttf') format('truetype');
}

@font-face
{
	font-family:'slider';
	src: url('font/universal mind.ttf') format('truetype');
}
@font-face
{
	font-family:'sliderH1';
	src: url('font/street_college.ttf') format('truetype');
}
*
{
	padding:0px;
	margin:0px;
}
body
{
	width:100%;
	background-image: url("img/space.jpg");
}

header
{
	width:100%;
	float:left;
	height:60px;
}

/* ************************   MENU TOP    *****************************/

#menu_top
{
	width: 90%;
	margin-left:5%;
	position:fixed;
	color:white;
	
}
#menu_top a
{
	text-decoration:none;
	color:white;
}
#menu_top ul.niveau1
{
	width:100%;
}

#menu_top ul.niveau1 li
{
	display:inline-block;
	list-style-type:none;
	text-align:center;
	width:14%;
	vertical-align: top;
	font-size:250%;
	font-family: 'ok', Arial, serif;
	text-decoration:none;
	
}
#menu_top img
{
	transform:scale(0.7);
	position:relative;
	top:-45px;
}
#menu_top ul ul
{
	display:none;
	position:absolute;
	width:100%;
}
#menu_top li:hover ul.niveau2
{
	display:block;
}
#menu_top ul.niveau2 li
{
	display:block;
	line-height:40px;
	font-size:20px;
	text-align:left;
	background-color:rgb(0,0,0,0.5);
}

/* ************************   MENU LEFT   *****************************/

#menu_left
{
	height:100vh;
	float:left;
	width:6%;
}
#menu_left ul.niveau1
{
	position:fixed;
	height:25vh;
	width:6%;
	margin-top:40vh;
	color:white;
	font-family: 'ok', Arial, serif;
	font-size:30px;
	line-height:25px;
}
#menu_left ul.niveau1 li
{
	list-style-type:none;
	text-align:center;
	width:100%;
	border-left:white 2px solid;
	border-right:white 2px solid;
}
#menu_left ul.niveau1 ul.niveau2 li
{
	padding:10px;
	border:hidden;
}
#menu_left ul.niveau2
{
	display:none;

}

#menu_left li:hover ul.niveau2
{
	display:block;
	position:absolute;
	height:80vh;
	top:-30vh;
	left:-110%;
}
#menu_left ul.niveau2 img
{
	width:80px;
	height:80px;
	padding:5px;
}
#menu_left ul.niveau2 p
{
	display:none;
}

#menu_left ul.niveau1  li:hover 
{
	transform: translate(100%);
	transition:transform 2s;
}
#menu_left ul.niveau2 li:hover
{
	transform:scale(1.2) translate(15%);
	transition:0.1s;
	background-image:linear-gradient( 60deg,rgba(0, 20 , 65, 1), rgba(255, 255, 255, 0), rgba(2, 20 , 65, 1));
	margin-left: -10px;
	border-radius: 0px 150px 150px 0px;
}
#menu_left ul.niveau2 li:hover p
{
	display:block;
	font-size:20px;
	text-align:center;
}
/*************************** SLIDE SHOW ********************************/

#diaporama 
{
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 67vh;
	list-style-type: none;
	float:left;
}

#diaporama li 
{
	overflow: hidden;
	position: absolute;
	width: 100%;
	height:67vh;
}
#diaporama li h1
{
	text-align:center;
	top:200px;
	font-family:'sliderH1';
	line-height:0.5vh;
}
#diaporama li a 
{
	display: block;
	height: 52vh;
}

#diaporama li a img 
{
	border: 0;
	width:100%;
}
#diaporama li p 
{
	
	padding:20px;
	height:10vh;
	font-family:'slider';
}
#wrapper
{
	position: relative;
	width: 56%;
	height: 67vh;
	top:20vh;
	right:-15%;
	list-style-type: none;
	padding: 0;
	float:left;
}
#defilement
{
	width:100%;
	position:relative;
	top:-40vh;
	padding:2%;
	width:96%;
}

#defilement .precedente
{
	float:left;

}
#defilement .suivante
{
	float:right;
}

#defilement img
{
	width:60px;
	height:60px;
	opacity:0.7;
}
#index_defilement
{
	list-style-type:none;
	height:10px;
	position:relative;
	top:-67vh;
	right:-49%;
}
#index_defilement li
{
	display:inline-block;
}
#index_defilement img
{
	width:10px;
	height:10px;
}