@font-face {
   font-family: 'ok';	
   src: url('font/BREAK IT.ttf') format('truetype');
}

@font-face
{
	font-family:'slider';
	src: url('font/universal mind.ttf') format('truetype');
}
@font-face
{
	font-family:'sliderH1';
	src: url('font/street_college.ttf') format('truetype');
}
html{
	background:linear-gradient(#111111,white);
	background-repeat: none;
	background-size: 100% 100%;
}
*
{
	padding:0px;
	margin:0px;
}
body
{
	width:100%;
	background-size: 100% 100%;
}

header
{
	width:100%;
	float:left;
	height:60px;
}
.titrepage{
	text-align:center;
	color:red;
}
a:link{
	text-decoration:none;
}
#panier tr,#panier td {
	border: 1px solid black;
    border-color:black;
	border-collapse: collapse;
	padding: 8px;
}
#panier table{
	border:1px solid black;
}
/* ************************   MENU TOP    *****************************/

#menu_top
{
	width: 70%;
	margin-left:15%;
	color:white;
	height:8vh;
	background:#757575;
	-webkit-border-bottom-right-radius: 90px;
	-webkit-border-bottom-left-radius: 90px;
	-moz-border-radius-bottomright: 90px;
	-moz-border-radius-bottomleft: 90px;
	border-bottom-right-radius: 90px;
	border-bottom-left-radius: 90px;
	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); 
}
#menu_top a
{
	text-decoration:none;
	color:white;
	width: 100%;
}
#menu_top ul.niveau1
{
	width:100%;
}

#menu_top ul.niveau1 li
{
	display:inline-block;
	list-style-type:none;
	text-align:center;
	width:13.5%;
	line-height:7vh;
	vertical-align: top;
	font-size:150%;
	font-family: Arial, serif;
	text-decoration:none;
	overflow: hidden;
	
}
#menu_top img
{
	transform:scale(0.8);
	position:relative;
	height:9vh;
	margin-left:-30px;
	max-width: 100%;

}
#menu_top span{
	display: none;
}
#menu_top ul ul
{
	display:none;
	position:absolute;
	right:12%;
	width:80%;
}
#menu_top li:hover ul.niveau2
{
	display:block;
	z-index:12;
	width:20%;
	background:grey;
	border-radius:30px;

}
#menu_top ul.niveau2 li
{
	display:block;
	line-height:40px;
	font-size:20px;
	width:100%;
	text-align:left;
	padding:10px;
	text-align:center;
}
#menu_top ul.niveau2 a
{
	color: white;
	font-family: arial;
	line-height: 10px;
	font-size: 1em;
	padding-top:-10px;
	width:100%;
}
#menu_top ul.niveau2 a:hover
{
	color:orange;
}
#menu_top ul.niveau1 a:hover{
	color:orange;
}
/* ************************   MENU LEFT   *****************************/

#menu_left
{
	height:80vh;
	float:left;
	width:6%;
}
#menu_left ul.niveau1
{
	position:fixed;
	height:25vh;
	width:6%;
	margin-top:32.5vh;
	color:#464d70;
	font-family: 'ok', Arial, serif;
	font-size:25px;
	line-height:20px;
}
#menu_left ul.niveau1 li
{
	list-style-type:none;
	text-align:center;
	width:100%;
	border-left:#464d70 2px solid;
	border-right:#464d70 2px solid;
}
#menu_left ul.niveau1 ul.niveau2 li
{
	padding:10px;
	border:hidden;
}
#menu_left ul.niveau2
{
	display:none;

}

#menu_left li:hover ul.niveau2
{
	display:block;
	position:absolute;
	height:80vh;
	top:-32.5vh;
	left:-110%;
}
#menu_left ul.niveau2 img
{
	width:60px;
	height:60px;
	padding:10px;
}
#menu_left ul.niveau2 p
{
	display:none;
}

#menu_left ul.niveau1  li:hover 
{
	transform: translate(100%);
	transition:transform 2s;
}
#menu_left ul.niveau2 li:hover
{
	transform:scale(1.2) translate(15%);
	transition:0.1s;
	background-image:linear-gradient( 60deg,#a1ac88,white,#a1ac88);
	margin-left: -10px;
	border-radius: 0px 150px 150px 0px;
}
#menu_left ul.niveau2 li:hover p
{
	display:block;
	font-size:20px;
	text-align:center;
}
/*************************** SLIDE SHOW ********************************/

#diaporama 
{
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 67vh;
	list-style-type: none;
	float:left;
}

#diaporama li 
{
	overflow: hidden;
	position: absolute;
	width:100%;
}
#diaporama li h1
{
	text-align:center;
	top:200px;
	font-family:'sliderH1';
	line-height:0.5vh;
}
#diaporama li a 
{
	display: block;
	height: 52vh;
}

#diaporama li a img 
{
	border: 0;
	width:100%;
}
#diaporama li p 
{
	padding:20px;
	height:15vh;
	font-family:'slider';
}
#wrapper
{
	position: relative;
	width:60%;
	height:60vh;
	top:15vh;
	right:-14%;
	list-style-type: none;
	float:left;
}
#defilement{
	position:relative;
	top:-40vh;
	padding:2%;
	width:96%;
}

#defilement .precedente
{
	float:left;

}
#defilement .suivante
{
	float:right;
}

#defilement img
{
	width:60px;
	height:60px;
	opacity:0.7;
}
#index_defilement
{
	list-style-type:none;
	height:10px;
	position:relative;
	top:-67vh;
	right:-49%;
}
#index_defilement li
{
	display:inline-block;
}
#index_defilement img
{
	width:10px;
	height:10px;
}


label {

display:block;

width:150px;

float:left;

}
/****************************************PAGE D'INSCRIPTION********************************************/
#box
{
	width : 25%;
	margin: auto;
	background-color: #757575;
 	margin-top: 20%;
	border: 3px solid white;
	color: #CCC;
}

#tableInscription
{
	display: block;
	width: 100%;
	margin: auto;
}

#tableInscription tbody{
	display:  block;
	width: 100%;
	margin-left: 12.5%;
}
#tableInscription td{
	width:  100%;
	text-align: center;

}
#tableInscription tr {
	width: 100%;

}
#box #inscription
{
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	width: 50%;
	margin: auto;
	display: block;
	margin-top: 2%;
}
#box p
{	
	text-align: center;
	color: white;
}

#box a
{	
	text-align: center;
	color: #CC0000;
	text-decoration: none;
	
}

#box h1 
{
	text-align: center;
	font-size: 2em;
	color: #012849;
}

#error
{
	text-align: center;
	font-size: 1.2em;
	color: #CC9900;
	text-decoration: blink;
	margin-bottom: 10px;
}

/*************************************************PAGES DU FORUM********************************************************************/

#forum3
{
	width: 90%;
	background-color: rgba( 240, 240,240, 1);
	/*margin-left: 10%;
	margin-top: 20%;*/
	position: relative;
	top: 250px;
	width: 80%;
	margin-left: 10%;
	padding-top: 15px;
	padding-bottom:  20px; 
	box-shadow: 6px 6px 7px #AAAAAA;
	margin-bottom:  32%;
}
.retour a
{
	margin-left: 20px;
	text-decoration:none;
	color: rgb(220, 150, 150);
}
.retour a:hover
{
	margin-left: 20px;
	text-decoration: underline;
	color: red;
}
#forum3 h1
{
	text-decoration: none;
	color: #331122;
	text-align: center;
}
#forum3 .deconx
{
	text-align: right;
	color: white;
	text-decoration: none;
	margin-right: 20px;
}

.categorie
{
	border: 3px solid rgb(228, 228, 228);
	padding: 10px;
	margin: 10px;
	margin-bottom: 10px;
	margin-bottom: : 1px;
	background-color: white;
}
.categorie h3
{
	text-align: center;
	color: #9EB2B1;
	font-size: 2em;
	line-height: 80px;
	margin: 0;
	padding: 0;
	position: relative;
	}
.categorie p, .categorie h1, .categorie a
{	
	width: 100%;
	text-align: center;
	color: #9EB2B1 ;
	font-size: 1.4em;
	text-decoration:none;

}
 .categorie a:hover
 {
 	position: relative;
 	left: 20px;
 	text-decoration: underline;
 	font-style: italic;
 	color: red;
 }

.post
{
	margin: 10px;
	padding: 25px;
	border: solid rgb(228,228,228) 2px;
	background-color: white;
}

#forum3 h6
{
	color: rgb(100, 100, 100);
	font-size: 1.3em;
	display: inline-block;
}

#forum3 h5
{
	color: rgb(149, 150, 150);
	font-size: 1.1em;
	text-align: right;
	display: inline-block;
}

#forum3 p
{
	color: #888888;
}

#forum3 #allpost
{
	margin: 10px;
	margin-top: : 1px;
	padding-top: 20px;
	padding-bottom: 20px;
	border: double white 2px;
}

.sujet h1
{
	color: rgb(255,255,255);
	max-width: 80%;
	margin-left: 10%;
	
}

.sujet
{
	margin: 30px;
	border: double rgb(228,228,228) 2px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	color: #9EB2B1;
}

.bouton1
 {
	border:none;
	padding:6px 0 6px 0;
	border-radius:8px;
	background:#0A1F4A;
	font:bold 13px Arial;
	color:#fff;
	width: 100%;
	margin-top: 10px;

}

.bouton1:hover
{
	border: 5px solid #163160;
	background-color: #fff;
	color:#0A1F4A ;
}

.bouton2
 {
	border:none;
	padding:6px 6px 6px 6px;
	border-radius:8px;
	background:#0A1F4A;
	font:bold 13px Arial;
	color:#fff;
	width: 100%;
	margin-top: 10px;
	text-decoration: none;
	margin-left:45%;
	margin-top:200px;
}

.bouton2:hover
{
	border: 2px solid #333333;
	background-color: #fff;
	color:#0A1F4A ;
}

/**************************************** CHAT*********************************************************************/
#tchat #console{
	overflow-y:auto;
	-moz-overflow-y: auto;
	overflow-x: hidden;
	width: 80%;
	max-height: 400px;
	min-width: 80%;
	min-height: 400px;
	background-color: rgba(25,50,75, 0.9);
	margin-top: 50px;
	display: inline-block;
	border-bottom: 2px solid rgba(100,150,250, 0.9);
	border-top: 2px solid rgba(100,150,250, 0.9);
	border-left: 2px solid rgba(100,150,250, 0.9);
}

#tchat #utilisateursenlignes{
	display: inline-block;
	max-width: 15%;
	vertical-align: top;
	margin-top: 50px;
	background-color: rgba( 240, 240,240, 1);
	border: 3px solid rgb(228, 228, 228);
	border-radius: 5px;
	max-height: 400px;
	min-height: 400px;
	overflow-y:scroll;
}
#tchat #utilisateursenlignes h3{
	color: rgb(100,0,140);
	text-align: center;
}
#tchat #utilisateursenlignes ul li{
	display: block;
	list-style-type: none;
	color: #5B578C;
	background-color: rgb(228, 228, 228);
	border-top: 1px solid rgb(30,60,80);
	text-align: right;
}
#tchat textarea {

	resize: none;
	width: 80%;
	height: 50px;
	color: rgb(210,210,210);
	background-color: rgba(0,0,0,0.7);
	border: 3px solid rgba(0,0,0,0.9);
	color:#0BCE08 ;
	border-radius: 10px;
	margin-top: 10px;
}
#tchat p, #tchat h4, #tchat pre {
	color: rgb(205,205,245);
	font-family: sans-serif;
}
#tchat h4{
	margin-bottom: 7px;
	margin-left: 2%;
}
#tchat tr{
	width: 80% ;
}

button{
	display: inline-block;
	border: 1px double black;
	background-color: rgba(255,255,255,0.0);
	border-radius: 15px;
	min-width: 85px;
	min-height: 40px;
}
.reset{
	margin-left: 55%;
	display: inline-block;
}
#sep{
	width: 90%;
	height: 2px;
	background-color:rgba(100,100,100,0.5);
	margin-left: 5%;
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
}

#tchat span{
width: 50px;
overflow: hidden;
}

#tchat
	{
		margin-left: 150px;
		padding: 20px;
	}

/**********************************************************************************************************************************/
/*********************************************************BOUTIQUE*****************************************************************/
/**********************************************************************************************************************************/
#categorie
{
	color: white;
	width:10%;
	float:left;
	margin:8px;
	background-color:white;
}
#categorie li
{
	list-style-type:none;
	text-align:center;
	background:-moz-linear-gradient(rgba(255,255,255,0.5),rgba(0,0,0,0.5));
	line-height:30px;
}
#categorie a
{
	color:black;
	text-decoration:none;
}
#produit img
{
	width:80%;
	height:25vh;
	margin-left:10%;
}
#produit
{
	width:20%;
	height:40vh;
	float:right;
	background:#757575;
	border-radius:10px;
	margin:8px;
	border:solid 1px black;
}
#produit input{
}
#produit h1
{
	text-align:center;
	line-height:20px;
	font-size:20px;
	color:white;
}
#produit p
{
	padding:20px;
	color:red;
	line-height:30px;
	font-size:26px;
	font-family:'ok';
	overflow:hidden;
	height:3vh;
}
#content
{
	position:relative;
	width:80%;
	float:right;
	height:800px;
	overflow:auto;
}
#boutique
{
	top:5vh;
	width:80%;
	float:right;
	margin:3%;
	margin-right:5%;
	background:white;
	border:ridge grey 8px;
	border-radius:30px;
}
/***********************************************PREVIEW BOUTIQUE*************************************************************/
#contenu_preview{
	padding:30px;
}
#preview{
	width:50%;
	height:80vh;
	position:absolute;
	background-color:white;
	margin-left:25%;
	margin-top:10vh;
	border-radius:30px;
	display:none;
}

#preview img{
	height:60vh;
	float:left;
}
#preview h1{
	color:red;
	text-align:center;
	line-height:40px;
	font-size:30px;
}
#preview_screen{
	width:100%;
	height:100vh;
	position:absolute;
	background-color:rgba(0,0,0,0.7);
	display:none;
}
@-moz-keyframes preview{

	0%{transform:scale(0.5);}
	100%{transform:scale(1);}
}
#contenu_preview p{
	float:right;
	width:37%;
}
#contenu_preview input [type="text"]{
}
/*******************************************PANIER BOUTIQUE*************************************************************/
#panier{
	position:fixed;
	margin-left:80%;
	z-index:1;
	width:20%;
	height:25vh;
	margin-top:2vh;
	background-color:grey;
	border-radius:20px;
	color:white;
	border:2px solid black;
}
#panier h1{
	text-align:center;
}
#panier ul li{
	text-align:center;
}
#produit_panier{
	overflow:auto;
	height:15vh;
	border:1px solid black;

}
#produit_panier li{
	list-style-type:none;
}
#icone_panier{
	position:fixed;
	width:70px;
	height:70px;
	margin-left:92%;
	top:3vh;
	border: 4px solid white;
	border-radius:40px;
}
#icone_panier:hover{
background-color:orange;
}
/******************************************* ADMINISTRATION*********************************************************/

#admin_sec{
	width:40%;
	margin-left:30%;
	border:1px solid black;
	padding:20px;
	border-radius:20px;
	margin-top:1%;
	background-color:white;
	float:left;
}
#admin_sec table{
}
#admin_sec h1{
	text-align:center;
}
#submit_admin{
	margin:10px;
	width:20%;
	height:40px;
	font-size:15px;
	line-height:20px;
}
#option_rec_adm li{
	display:inline-block;
}
#option_rec_adm{
	float:left;
}
#result_rech{
	height:30vh;
	margin-left:9.9%;
	width:80%;
	background-color:white;
	border:1px solid black;
	border-radius:20px;
	float:left;
	overflow:auto;
}
#resultat tr,#resultat td {
    border: 1px solid black;
    border-color:black;
	border-collapse: collapse;
	padding: 8px;
}
#resultat{
	border-spacing: 0px;
}
.administration{
	float:left;
}
#wrapper_rec_adm{
	width:40%;
	margin-left:24%;
	background-color:white;
	padding:20px;
	float:left;
	border-radius:20px;
	border:1px solid black;
	
}
#wrapper_rec_adm h1{
	text-align:center;
}
#admin_sec.correction{
	margin-left:24%;
}
/************************************************************ presentation M2L ****************************************************/
#m2lprez{
	width: 69 %;
	margin-left: 10%;
	padding-top: 70px;
	padding-left: 75px;
	padding-right: 75px;
	background-color: white;

}
#m2lprez div{
	border: 2px solid #888;
	margin-top: 25px;
	background-color:  #CCC;
}
#m2lprez h1{
	text-align: center;
	font-size: 1.6em;
	color:#A4AF8C;
}
#m2lprez div p{
	text-align: justify;
	font-size: 1em;
	padding: 10px;
}
#m2lprez div h2{
	font-size: 1.3em;
	text-align: center;
	text-decoration: underline;
	color: #931;
	margin-top: 10px;
	margin-bottom: 10px;
}
/************************************************************Ligue de Quidditch*****************************************************/
#quidditch{
	padding-top: 110px;
	margin-left: 10%;
	width: 80%;
	background-color: white;
	color: #222;
	text-align: justify;
	font-size: 1.2em;
	font-family: bold;
}
#quidditch p{
	padding: 20px;
}

#quidditch ol {
	margin-left: 40%;
}
#quidditch iframe {
	margin-left: 25%;
}
#quidditch h1{
	text-align: center;
	font-size: 1.2em;
}
#a1 img{
	max-width: 80%;

}
/*********************************************************** Mon Profil ************************************************************************/
#monProfil{
	padding-top: 10%;
	margin-left: 20%;
	max-width: 60%;
}
#monProfil table{
	background-color: #DDC;

}
#monProfil h3
{
	text-align: center;
	color: #A32;
	font-size: 1.6em;
	padding-bottom: 20px;
}
#monProfil td{
	color: #AAA;
	text-align: center;
	vertical-align: middle;
	padding: 2;	
	overflow: hidden;	
}
#monProfil .libel {
	font-family: verdana;
	color: #77A;
}
#monProfil #button{
	background-color: #BBB;
	border: 1px solid #591;
	text-decoration: none;
	font-size: 1.4em;
	color: #591;
	margin-left: 38%;
	margin-top: 3%;
}
#monProfil table tbody tr{
	: 15px;

}
#monProfil #button a{
	text-decoration: none;
}

.modif td{
	border-right: 2px solid #999;
	border-left:  2px solid #999;
}

/***********************************************************Responsive**************************************************************************/

@media(max-width: 1330px) {
	#menu_top
		{
			width: 100%;
			margin: 0;

		}
	#menu_top ul.niveau1
		{
			width:100%;

		}
	#menu_top ul.niveau1 li
		{
			max-width: 13%;
		}
	#menu_top img
		{
			transform:scale(0.8);
			position:relative;
			left: -30%;
		}
}
@media(max-width: 1280px) {
	#menu_top img
		{
			transform:scale(0.8);
			position:relative;
			left: -30%;
		}
}

@media(max-width: 1080px) {
	#menu_top img
		{
			transform:scale(0.8);
			position:relative;
			left: -50%;
		}

@media (min-width: 768px) and (max-width: 979px){

}

@media (max-width: 768px) {

}

@media (max-width: 480px) {
	#menu_top ul.niveau1 li
	{
		width: 48%;
		max-width: 100%;
	}
	#menu_top img
	{
		position: relative;
		left: 0;
	}
	#menu_top ul.niveau1{
		height:20px;
		margin-top:0;
		color:white;
		font-family:Arial, serif;
		font-size: 0.5em;
		line-height: 20px;
	}
	#menu_top img{
		display: none;
	}
	#menu_top span{
		display: inline;
	}
	#login{
		margin-left: 25%;
	}
	#menu_top ul ul
	{
		display:none;
		position:absolute;
		width:200%;
		max-width: 300px;
		margin-left: -40%;
	}
	#menu_top li:hover ul.niveau2
	{
		display:block;
		z-index:3;

	}
	#menu_top ul.niveau2 li
	{
		display:block;
		width: 45%;
		margin-left: 1%;
		line-height:20px;
		font-size:10px;
		text-align: center;
		background-color:rgb(0,0,0,0.5);
		display: inline-block;
	}
}


@media print{

}


